$card-padding: 0;
$card-background: white;
$card-border: $border-md solid $color-gray-light;
$card-border-radius: 6px;
$card-box-shadow: 0 2px 1px 0 rgba(221, 221, 221, 0.5);
$card-body-padding: $padding-lg;
$card-body-font-size: 14px;
$card-title-padding: $padding-lg;
$card-title-weight: 600;
$card-title-font-size: 18px;